@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	margin: 0% 10em;
	font-family: "Montserrat";
	background-color: #2b2923;
}

nav {
	height: 16vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;

	ul {
		display: flex;
		align-items: center;
		list-style: none;
		color: white;
		width: 60%;
		font-size: 1.2rem;
		justify-content: space-between;
		button {
			font-size: 1rem;
			height: 52px;
			width: 140px;
			font-weight: 600;
			color: #9d8c35;
			border: 2px solid #9d8c35;
			background: transparent;
			border-radius: 0.8em;
		}
	}
}

main {
	height: 84vh;
	color: white;
	position: relative;

	.top {
		height: 40%;
		// width: 60%;
		display: flex;
		align-items: center;
		h1 {
			font-size: 4rem;
			flex: 1.8;
		}
		p {
			width: 40%;
			font-size: 1.2rem;
			text-align: justify;
		}
	}
	img {
		display: block;
		position: absolute;
		bottom: 0;
		margin-top: auto;
		margin-bottom: 0%;
		width: 100%;
	}
}
